@model IEnumerable<MovContainer.Models.Cliente>

<h1>Relação de Empresas cadastradas</h1>

<p>
    <a asp-action="Create">Cadastrar Nova Empresa</a> |
    <a asp-controller="Home" asp-action="Index">Home Page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.ClienteId">Delete</a>
                    <a asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a>

                </td>
            </tr>
        }
    </tbody>
</table>
